parameters:
	level: 9
	paths:
		- 'php-src'
	scanFiles:
		- 'php-tests/CommonTestClass.php'
	scanDirectories:
		- 'php-tests/external'
	excludePaths:
		- 'php-tests/_autoload.php'
		- 'php-tests/_bootstrap.php'
		- 'php-tests/CommonTestClass.php'
	bootstrapFiles:
		- 'php-tests/_bootstrap.php'
	checkGenericClassInNonGenericObjectType: false
#	ignoreErrors:
		# inter-version...
#		- '#does not accept array<string, array<string, string>>\|false.#'
